@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
    z-index: 10;
    padding: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 2px;
    height: 100px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #939190;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
    background: #fff;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    background: #fff;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    background: #939190;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #939190;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 100px;
}
[dir='rtl'] .slick-prev
{
    right: 100px;
    left: auto;
}

.slick-next {
    right: 100px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: 100px;
}
.slick-prev:before {
    right: 10px;
}
.slick-next:before {
    left: 10px;
}
    /* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'slick';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    display: block;
    content: '';
    text-align: center;
    border-radius: 50%;
    opacity: 1;
    background: #6f6f6f;
}
.slick-active button:before {
    opacity: 1;
    background: #fff;
    width: 10px;
    height: 10px;
}
